@import "tailwindcss";

@theme inline {
  --color-base: var(--color-base);
  --color-surface: var(--color-surface);
  --color-accent: var(--color-accent);
  --color-highlight: var(--color-highlight);
  --color-text: var(--color-text);
  --color-main: var(--color-main);
  --color-green:var(--color-green);
  --color-secondary: var(--color-secondary);
  --color-border: var(--color-border);
  --color-gray:var(--color-gray);

  --font-sans: var(--font-sans, "Inter", system-ui, sans-serif);
}
@layer base {
  :root {
    --color-base: #11111b;
    --color-surface: #313244;
    --color-accent: #9D7CD8;
    --color-highlight: #F5C2E7;
    --color-text: #cdd6f4;
    --color-green:#a6e3a1;
    --color-gray:#7f849c;
    --color-main: #f5c2e7;
    --color-secondary: #cba6f7;
    --color-border: #585B70;
  }
  .nord {
    --color-base: #2e3440;
    --color-surface: #3b4252;
    --color-accent: #81a1c1;
    --color-highlight: #88c0d0;
    --color-gray:#7f849c;
    --color-text: #d8dee9;
    --color-main: #5e81ac;
    --color-secondary: #bf616a;
    --color-border: #4c566a;
     --color-green:#a6e3a1;
  }
}

